<article
  class="comment-container"
  [class.comment-container_first-level]="!!firstLevel"
  [class.comment-container_deleted]="comment?.deleted"
  [class.comment-container_dead]="comment?.dead"
>
  <div class="comment">
    <ng-container *ngIf="!comment?.deleted">
      <div class="comment-title">
        <span class="expand-button" *ngIf="comment?.kids?.length > 0">
          <mat-icon class="custom-mat-icon" (click)="expandHandler()">
            {{ showMoreComments ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        </span>
        <span *ngIf="comment?.by != null" class="comment-info comment-info__user" [routerLink]="['/user', comment?.by]">
          {{ comment?.by }}
        </span>
        <span *ngIf="comment?.time != null" class="comment-info">
          , {{ comment?.time * 1000 | date: 'MM/dd/yyyy' }}
        </span>
      </div>
  
      <div class="comment-message" *ngIf="comment?.text != null" [innerHtml]="comment?.text"></div>
    </ng-container>

    <ng-container *ngIf="comment?.deleted">
      <div class="comment-title">
        <p class="comment-info">deleted</p>
      </div>
    </ng-container>
  </div>

  <app-thread *ngIf="showMoreComments" [kids]="comment?.kids"></app-thread>
</article>